body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1503265192943-9d7eea6fc77a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover {
  max-width: 60vw;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid transparent;
}

.nav-link.active {
  color: rgba(255, 255, 255, 1);
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.lead {
  font-weight: 400;
}

.btn-light:hover {
  background-color: (255, 255, 255, 0.5);
}
