.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.drawer {
  position: absolute;
  width: 420px;
  right: 0;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;

  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  z-index: 999;

  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.cartTotal {
  ul {
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .btnPrimary {
    position: relative;

    &:hover {
      img {
        transform: translateX(10px);
      }
    }

    img {
      position: absolute;
      right: 60px;
      top: 22px;
      transition: transform 0.2s ease-in-out;
    }

    &:disabled {
      background-color: #bebebe;
      pointer-events: none;
      animation: button-loading 0.8s ease-in-out infinite;
    }
  }
}

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
